scrapers/picks/__pycache__/covers.cpython-312.pyc
scrapers/picks/__pycache__/dimers.cpython-312.pyc
scrapers/picks/__pycache__/pickswise.cpython-312.pyc
scrapers/picks/__pycache__/wagertalk.cpython-312.pyc
scrapers/.env
